extends ../layout

block content
  form(method='post')
    h1 Create account
    p First create an account to log in to your blog
    input(type='text' placeholder='Username' id='username' name='username')
    input(type='password' placeholder='Password' id='password' name='password')
    input(type='password' placeholder='Confirm password' name='confirmPassword' id='confirmPassword')
    input(type='submit' value='Create account')